body{
  background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    position:sticky;
}
nav ul{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    list-style-type: none;
    height: 1.9rem;
    background-color: black;
    color: white;  
}
nav ul li{
    padding:0rem 0.2rem;
}
.logo_img{
    display:flex ;
    align-items: center;
    font-weight: bold;
    padding: 0rem 0.3rem;

}
.logo_img img{
    height: 1.93rem;
}
.container{
    min-height:72vh;
    background-color: black;
    color: white;
    width: 70%;
    border-radius: 1rem;
    margin: 1rem auto;
    background-image: url('bg.jpeg');
}
.bottom{
    position: sticky;
    bottom:0;
    background-color: black;
    color: white;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icons{
    margin: 1rem 0rem;
    cursor: pointer;
} 
#progress_bar{
    width: 45rem;
    cursor: pointer;
}
.song-container{
    margin-top: 1.5rem;
    margin-left: 0.6rem;
}

.song-item{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    color: black;
    width: 40%;
    margin: 0.3rem 0rem;
    padding: 0.2rem 0rem;
}
.song-item img{
    height: 1.2rem;
    border-radius: 3rem;
    margin: 0rem 0.2rem;
}
.song-time i {
 cursor: pointer;
}
.song-gif{
    position: absolute;
    left: 29vh;
   
}
.song-gif img{
    opacity: 0;
    transition: opacity 0.2s ease-in;

}
